body {
    color: black;
    background-color: darkgray;
  }
  
.col-md-12 {
    background-image: url("../images/bacteria-1.png");
    color: white;
    background-size: 100;
    text-align: center;
    width: max-content;
    opacity: 100%;
}

p {
  color: black;
  font-weight: 1000;
  font-style: oblique;
  font-size: large;
}